<plugin>
  <description></description>
  <groupId>com.site.maven.plugins</groupId>
  <artifactId>maven-media-plugin</artifactId>
  <version>1.0.0</version>
  <goalPrefix>media</goalPrefix>
  <isolatedRealm>false</isolatedRealm>
  <inheritedByDefault>true</inheritedByDefault>
  <mojos>
    <mojo>
      <goal>package</goal>
      <description>Package all source files in the project for backup purpose.</description>
      <requiresDirectInvocation>false</requiresDirectInvocation>
      <requiresProject>true</requiresProject>
      <requiresReports>false</requiresReports>
      <aggregator>false</aggregator>
      <requiresOnline>false</requiresOnline>
      <inheritedByDefault>true</inheritedByDefault>
      <implementation>com.site.maven.plugin.media.Mp3Mojo</implementation>
      <language>java</language>
      <instantiationStrategy>per-lookup</instantiationStrategy>
      <executionStrategy>once-per-session</executionStrategy>
      <parameters>
        <parameter>
          <name>excludes</name>
          <type>java.lang.String[]</type>
          <required>false</required>
          <editable>true</editable>
          <description>Files to be excluded</description>
        </parameter>
        <parameter>
          <name>rootDirs</name>
          <type>java.lang.String</type>
          <required>true</required>
          <editable>true</editable>
          <description>Root directories for MP3 files</description>
        </parameter>
      </parameters>
      <configuration>
        <rootDirs implementation="java.lang.String" default-value="d:/medias/mp3">${rootDirs}</rootDirs>
      </configuration>
    </mojo>
  </mojos>
  <dependencies/>
</plugin>