<?xml version="1.0" encoding="UTF-8"?>

<configuration>
   <parameters>
      <url>
         <default-value><![CDATA[http://search.zhaopin.com/jobs/request.asp?SchJobType=&subJobtype=&industry=%E8%AE%A1%E7%AE%97%E6%9C%BA%E8%BD%AF%E4%BB%B6&PublishDate=&WorkingExp=&EduLevel=&CompanyType=&CompanySize=&sortby=&SearchModel=0&vip_type=&JobLocation=%E4%B8%8A%E6%B5%B7&KeyWord=&DYWE=1225798083213.401123.1225803852.1225808731.3]]></default-value>
         <description>Search URL for the job list</description>
      </url>
      <category>
         <default-value>0</default-value>
         <description>Category id to be fetched</description>
      </category>
      <category.infotree>
         <default-value>349</default-value>
         <description>Corresponding category id of InfoTree to store data</description>
      </category.infotree>
      <maxDays>
         <default-value>3</default-value>
         <description>How many days of data to be fetched</description>
      </maxDays>
      <maxPages>
         <default-value>2</default-value>
         <description>How many pages of data to be crawled</description>
      </maxPages>
      <city>
         <default-value>shanghai</default-value>
         <description>City code in the URL</description>
      </city>
      <action>
         <default-value>http://www.xiaoxishu.com/XSpiderRobot</default-value>
         <description>Which URL will the message be post to</description>
      </action>
      <username>
         <default-value>perry111701</default-value>
         <description>Which username in www.xiaoxishu.com will be used for listing the message</description>
      </username>
      <password>
         <default-value>a123456</default-value>
         <description>Which password for the username will be used for listing the message</description>
      </password>
   </parameters>
   
   <city-map>
      <city id="shanghai" name="上海" province="上海市"/>
      <city id="beijing" name="北京" province="北京市"/>
      <!-- more cities -->
   </city-map>
</configuration>