<?xml version="1.0" encoding="UTF-8"?>

<configuration>
   <parameters>
      <category>
         <default-value>bkg</default-value>
         <description>Category id to be fetched</description>
      </category>
      <category.infotree>
         <default-value>628</default-value>
         <description>Corresponding category id of InfoTree to store data</description>
      </category.infotree>
      <maxDays>
         <default-value>3</default-value>
         <description>How many days of data to be fetched</description>
      </maxDays>
      <maxPages>
         <default-value>2</default-value>
         <description>How many pages of data to be crawled</description>
      </maxPages>
      <city>
         <default-value>sh</default-value>
         <description>City code in the URL</description>
      </city>
      <action>
         <default-value>http://www.xiaoxishu.com/XSpiderRobot</default-value>
         <description>Which URL will the message be post to</description>
      </action>
      <username>
         <default-value>perry111701</default-value>
         <description>Which username in www.xiaoxishu.com will be used for listing the message</description>
      </username>
      <password>
         <default-value>a123456</default-value>
         <description>Which password for the username will be used for listing the message</description>
      </password>
   </parameters>
   
   <city-map>
      <city id="sh" name="上海" province="上海市"/>
      <city id="bj" name="北京" province="北京市"/>
      <!-- more cities -->
   </city-map>
</configuration>