<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
   <servlet>
      <servlet-name>counter-servlet</servlet-name>
      <display-name>counter-servlet</display-name>
      <description>Web Site Tracking Servlet 1.0</description>
      <servlet-class>com.site.app.tracking.CounterServlet</servlet-class>
      <init-param>
         <param-name>category-source</param-name>
         <param-value>${category-source}</param-value>
      </init-param>
      <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet>
      <servlet-name>analysis-servlet</servlet-name>
      <display-name>analysis-servlet</display-name>
      <description>Web Site Analysis Servlet 1.0</description>
      <servlet-class>com.site.app.tracking.AnalysisServlet</servlet-class>
      <load-on-startup>2</load-on-startup>
   </servlet>
   <servlet-mapping>
      <servlet-name>counter-servlet</servlet-name>
      <url-pattern>/c/*</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>analysis-servlet</servlet-name>
      <url-pattern>/a/*</url-pattern>
   </servlet-mapping>
   <taglib>
      <taglib-uri>/WEB-INF/app.tld</taglib-uri>
      <taglib-location>/WEB-INF/app.tld</taglib-location>
   </taglib>
</web-app>
